/*
    Questo file serve ad indicare i dettagli e abbellire la pagina web che lo usa
*/

/* Questo e' un commento */

.titoloPaginaWeb{

}





.parteFinale {
}

table.parteFinale {
    margin: auto;
}

.copyright, .termini_condizioni {
    padding: 20px;
}

.termini_condizioni {
    text-align: right;
}