/*
    Questo file serve ad indicare i dettagli e abbellire la pagina web che lo usa
*/

/* Questo e' un commento */

.titoloPaginaWeb{
    text-align: center;
}





.parteFinale {
}

.parteFinale {
    display: flex;
    justify-content: center;
}

.copyright, .termini_condizioni {
    padding: 20px;
}

.termini_condizioni {
    text-align: right;
}