/*
    Questo file serve ad indicare i dettagli e abbellire la pagina web che lo usa
*/

/* Questo e' un commento */

.titolo_menu{
    text-align: center;
}

.titoloPaginaWeb{
    display: contents;
}

.menu{
    display: inline-flex;
    float: inline-end;
}

.login_accesso{

}

.barraDiRicerca{
    margin-top: 20px;
    text-align: center;
}

.barraDiRicerca form{
    height: 30px;
}

.inputRicerca{
    height: 150%;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    color: blueviolet;
}

.submitRicerca{
    border: transparent;
    background-color: transparent;
}

.submitRicerca:hover{
    cursor: pointer;
    transition-duration: 1.3s;
    transform: scale(1.5);
}

.descrizione{
    display: flow-root;
    margin-top: 50px;
    text-align: center;
}

.parteFinale {
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    align-items: center;
    text-align: center;
}

.copyright, .termini_condizioni {
    padding: 20px;
}

.termini_condizioni {
    text-align: right;
}