/*
    Questo file serve ad indicare i dettagli e abbellire la pagina web che lo usa
*/

/* Questo e' un commento */

.body{
    background-color: moccasin;
}

.titolo_menu{
    text-align: center;
}

.titoloPaginaWeb{
    display: contents;
}

.menu{
    display: inline-flex;
    float: inline-end;
}





.parteFinale {
}

.parteFinale {
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    align-items: center;
    text-align: center;
}

.copyright, .termini_condizioni {
    padding: 20px;
}

.termini_condizioni {
    text-align: right;
}