body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0e223b;
}

p{
    color: #ff4c4c;
}

.titoloPaginaWeb {
    margin: 20px;
    font-size: 48px;
    color: #b9cc0b;
}

.descrizioneGioco p {
    margin: 20px;
    font-size: 18px;
}

.gioco h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #fffb06;
}

.griglia {
    width: 320px;
    height: 340px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
    background-color: #003366;
    padding: 5px;
    border-radius: 10px;
}

.cella {
    width: 100%;
    height: 40px;
    background-color: #b0c4de;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.cella.nave {
    background-color: #4682b4;
}

.cella.colpita {
    background-color: #ff4c4c;
    color: white;
}

.cella.mancata {
    background-color: #a9a9a9;
    color: white;
}

#parteFinale {
    margin-top: 30px;
}

.bottone-rigioca {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.bottone-rigioca:hover {
    background-color: #0b7dda;
}
